<!DOCTYPE html>
<html>
	<head>
		<title>Trawler | {% block title%} {% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			{% for category, message in get_flashed_messages() %}
				<div class="alert alert-{{category}}" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{message}}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>